.splash-container {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-logo {
  width: 60vw;        /* 60% of screen width */
  max-width: 500px;  /* don't get too huge on big monitors */
  animation: fadeZoom 1.8s ease-in-out;
}


@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
